HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/src/main/java/com/example/demoproject/domain/job/JobCategories.java
/src/main/java/com/example/demoproject/domain/job/Jobs.java
/src/main/java/com/example/demoproject/domain/employee/NuxtEmployees.java
/src/main/java/com/example/demoproject/protocol/response/common/RtnObject.java
/src/main/java/com/example/demoproject/protocol/request/search/SearchJobs.java
